@import "./variables.scss";
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	line-height: 1.5;
	font-weight: 400;

	color: $primary-color;
	background-color: $background-color;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	display: flex;
	justify-content: center;
	place-items: center;
	min-width: 320px;
}

a {
	font-weight: 500;
	color: $link-color;
}
a:hover {
	color: $link-color-hover;
}
